<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Demo Ionic </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Would you like to know more?</h1>
  <p>Paragraphe</p>
  <div>Div etc etc</div>
  <app-title></app-title>
  <p>{{ hello }}</p>
  <!-- -->
  <!-- Event Binding -->
  <button (click)="clickMe()">Cliquez ici</button>
  <!-- Property Binding -->
  <div [hidden]="isHidden">Suis-je caché</div>
  <!-- Two way Binding -->
<Label>Entrez votre nom</Label>
<input type="text" [(ngModel)]="name">
<p>Bonjour {{ name }}</p>
</ion-content>
