<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Demo Ionic </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Would you like to know more?</h1>
  <div>Div etc etc</div>
  <app-title></app-title>
  <p>{{ hello }}</p>
  <!-- -->
  <!-- Event Binding -->
  <button (click)="clickMe()">Cliquez ici</button>
  <!-- Property Binding -->
  <div [hidden]="isHidden">Suis-je caché</div>
  <!-- Two way Binding -->
  <label>Entrez votre nom</label>
  <input type="text" [(ngModel)]="name" />
  <p>Bonjour {{ name }}</p>
  <!-- ngClass : style conditionnel -->
  <p [ngClass]="{'green': isHidden, 'orange': !isHidden}">Paragraphe</p>
  <!--Affichage de tableau -->
  <!--Directive structurelle -->
  <div>
    <ul>
      <li *ngFor="let fruit of fruits" [ngStyle]="{'color' : colorText}">
        {{ fruit }}
      </li>
    </ul>
  </div>

</ion-content>
